.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}


.form-input {
    width: 350px;    
    border-radius: 20px;
    background: var(--color-white);
    margin-bottom: 5px;
    padding: 25px 10px;
    font-weight: 500;
}

.form-text {
    width: 350px;
    height: 300px;
    padding: 25px 10px;
    border-radius: 20px;
    background: var(--color-white);
    font-weight: 500;
}



.btn-contact {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    color: black;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn-contact:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}